<div class=" content">
    <div class=" row">
        <div class=" col-12">
            <div class=" card card-chart">
                <div class=" card-header">
                    <div class=" row">
                        <div class=" col-sm-6 text-left">
                            <h5 class=" card-category">Nombre Employé</h5>
                            <h2 class=" card-title">Employé</h2>
                        </div>
                        <div class=" col-sm-6">
                            <div class=" btn-group btn-group-toggle float-right"
                                    data-toggle="buttons">
                                <label class=" btn btn-sm btn-danger btn-simple"
                                       (click)="updateOptions(false);clicked=true;clicked1=false"
                                       [ngClass]="{'active':clicked===true}">
                                    <input checked="checked" name="options" type="radio"/>

                                    <span class=" d-none d-sm-block d-md-block d-lg-block d-xl-block">Departement</span>
                                    <span class=" d-block d-sm-none"><i class=" tim-icons icon-single-02"> </i></span>
                                </label>
                                <label class=" btn btn-sm btn-danger btn-simple"
                                       (click)="updateOptions(true);clicked=false;clicked1=true;"
                                       [ngClass]="{'active':clicked1===true}">
                                    <input
                                            class=" d-none d-sm-none"
                                            name="options"
                                            type="radio"/>

                                    <span class=" d-none d-sm-block d-md-block d-lg-block d-xl-block">Projet De Recherche</span>
                                    <span class=" d-block d-sm-none"><i class=" tim-icons icon-gift-2"> </i></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class=" card-body">
                    <div class=" chart-area">
                        <canvas id="chartBig1"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class=" row">
        <div class=" col-lg-4">
            <div class=" card card-chart">
                <div class=" card-header">
                    <h5 class=" card-category">Nombre Employé par etude</h5>
                    <h3 class=" card-title">
                        <i class=" tim-icons icon-single-02 text-danger-states"> </i> Employé
                    </h3>
                </div>
                <div class=" card-body">
                    <div class=" chart-area">
                        <canvas id="chartLineRed"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class=" col-lg-4">
            <div class=" card card-chart">
                <div class=" card-header">
                    <h5 class=" card-category">Budget par département</h5>
                    <h3 class=" card-title">
                        <i class=" tim-icons icon-coins text-info"> </i> TND
                    </h3>
                </div>
                <div class=" card-body">
                    <div class=" chart-area">
                        <canvas id="CountryChart"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class=" col-lg-4">
            <div class=" card card-chart">
                <div class=" card-header">
                    <h5 class=" card-category">Budget par projet</h5>
                    <h3 class=" card-title">
                        <i class=" tim-icons icon-money-coins text-success"> </i> TND
                    </h3>
                </div>
                <div class=" card-body">
                    <div class=" chart-area">
                        <canvas id="chartLineGreen"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
