<div class=" content">
  <div class=" row">
    <div class="col-md-12">
      <div class=" card card-user">
        <div class=" card-body">
          <p class=" card-text"></p>
          <div class=" author">
            <div class=" block block-one"></div>
            <div class=" block block-two"></div>
            <div class=" block block-three"></div>
            <div class=" block block-four"></div>
            <div href="javascript:void(0)">
              <h2 class=" title">Départment <span class="h1">Informatique</span></h2>
            </div>
            <div href="javascript:void(0)">
              <h2 class=" title">Surface <span class="h1">100m²</span></h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


