
<div class="hero_area">

    <div class="hero_bg_box">
        <img src="../../../assets/img/images/hero-bg.png" alt="">
    </div>

    <!-- header section strats -->
    <img class="mx-auto" src="assets/img/angular2-logo-white.png" width="100">
    <!-- end header section -->
    <!-- slider section -->
    <section class="slider_section ">
        <div id="customCarousel1" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="container ">
                        <div class="row">
                            <div class="col-md-7">
                                <div class="detail-box">
                                    <h1>
                                        Research For Better Future
                                    </h1>
                                    <p>
                                        Le projet est un centre de recherche appelé "Research for Better Future". Ce centre regroupera la gestion des employés, les projets de recherche, les départements, les bureaux et les postes téléphoniques. L'objectif principal de ce projet est de faciliter la gestion des activités de recherche en centralisant toutes les informations et les données relatives au centre au sein d'une seule plateforme. Ce centre permettra également une meilleure communication entre les différents départements et employés, ce qui facilitera la collaboration et l'avancement des projets de recherche.                                    </p>
                                    <div class="btn-box">
                                        <a href="http://localhost:4200/#/dashboard" class="btn1">
                                            Tableau de bord
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- end slider section -->
</div>


<!-- department section -->

<section class="department_section layout_padding">
    <div class="department_container">
        <div class="container ">
            <div class="heading_container heading_center">
                <h2>
                    Nos Projets De Recherche
                </h2>
                <p>
                    Les projets de recherche sont au cœur du fonctionnement du centre "Research for Better Future". Ils couvrent un large éventail de domaines allant de la biotechnologie à l'informatique, en passant par l'ingénierie et les sciences sociales. Chaque projet est géré par une équipe de chercheurs et de techniciens expérimentés, qui collaborent étroitement pour atteindre les objectifs de recherche fixés. Le centre encourage l'innovation et l'expérimentation de nouvelles idées, tout en veillant à ce que chaque projet réponde aux normes éthiques et de qualité les plus élevées. Les résultats des projets sont régulièrement publiés dans des revues scientifiques et présentés lors de conférences, contribuant ainsi à l'avancement de la recherche et de la technologie à l'échelle mondiale.                </p>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="box ">
                        <div class="img-box">
                            <img src="../../../assets/img/images/s1.png" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                biotechnologie
                            </h5>
                            <p>
                                Le centre de recherche "Research for Better Future" couvre également des projets de recherche en biotechnologie.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="box ">
                        <div class="img-box">
                            <img src="../../../assets/img/images/s6.png" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                informatique
                            </h5>
                            <p>
                                L'informatique est un domaine essentiel pour la gestion et l'analyse des données liées aux projets de recherche.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="box ">
                        <div class="img-box">
                            <img src="../../../assets/img/images/s2.png" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                ingénierie
                            </h5>
                            <p>
                                L'ingénierie appliquée est essentielle pour la réalisation de projets de recherche dans de nombreux domaines.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="box ">
                        <div class="img-box">
                            <img src="../../../assets/img/images/s5.png" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                sciences sociales
                            </h5>
                            <p>
                                Les sciences sociales sont également prises en compte dans les projets de recherche du centre "Research for Better Future".
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="btn-box">
                <a href="http://localhost:4200/#/projet_recherche">
                    Consulter les projets de recherches
                </a>
            </div>
        </div>
    </div>
</section>

<!-- end department section -->

<!-- about section -->

<section class="about_section layout_margin-bottom">
    <div class="container  ">
        <div class="row">
            <div class="col-md-6 ">
                <div class="img-box">
                    <img src="../../../assets/img/images/about-img.jpg" alt="">
                </div>
            </div>
            <div class="col-md-6">
                <div class="detail-box">
                    <div class="heading_container">
                        <h2>
                            A propos <span>Nous</span>
                        </h2>
                    </div>
                    <p>
                        Le projet de "Research for Better Future" est le fruit de la collaboration entre Mahdi Hadj Sassi et Molka Elloumi, tous deux étudiants en première année de génie informatique à l'École Nationale Supérieure d'Ingénieurs de Tunis. Ce projet est leur projet de fin d'année pour l'année universitaire 2022-2023, proposé par leur professeure Madame Emna Souissi. Leur objectif est de développer une application de gestion de centre de recherche pour faciliter les tâches administratives et optimiser les projets de recherche.
                    </p>

                </div>
            </div>
        </div>
    </div>
</section>

<!-- end about section -->

<!-- doctor section -->

<section class="doctor_section layout_padding">
    <div class="container">
        <div class="heading_container heading_center">
            <h2 class="text-white">
                L'équipe IT
            </h2>
            <p class="col-md-10 mx-auto px-0 text-white">
                L'équipe est composée de deux étudiants et d'une encadrante. Ils ont travaillé sur la base de données, le front-end, le back-end et la conception de l'application de gestion de centre de recherche.            </p>
        </div>
        <div class="row">
            <div class="col-sm-6 col-lg-4 mx-auto">
                <div class="box">
                    <div class="img-box">
                        <img src="../../../assets/img/images/d2.jpg" alt="">
                    </div>
                    <div class="detail-box">
                        <h5>
                            Hadj Sassi Ezzedine
                        </h5>
                        <h6 class="">
                            Etudiant Ingénieur
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 mx-auto">
                <div class="box">
                    <div class="img-box">
                        <img src="../../../assets/img/images/d6.jpg" alt="">
                    </div>
                    <div class="detail-box">
                        <h5>
                            Souissi Emna
                        </h5>
                        <h6 class="">
                            Encadrante
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 mx-auto">
                <div class="box">
                    <div class="img-box">
                        <img src="../../../assets/img/images/d5.jpg" alt="">
                    </div>
                    <div class="detail-box">
                        <h5>
                            Elloumi Molka
                        </h5>
                        <h6 class="">
                            Etudiante Ingénieur
                        </h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- end doctor section -->

<!-- footer section -->
<footer class="footer_section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-3 footer_col">
                <div class="footer_contact">
                    <h4>
                        Contact
                    </h4>
                    <div class="contact_link_box">
                        <a href="">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                            <span>
                  Location ENSIT
                </span>
                        </a>
                        <a href="">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                            <span>
                  Appelez +216 51 907 825
                </span>
                        </a>
                        <a href="">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                            <span>
                  hadjsassiscompany@gmail.com
                </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 footer_col">
                <div class="footer_detail">
                    <h4>
                        About
                    </h4>
                    <p class="text-white">
                        Le projet "Research for Better Future" vise à faciliter la gestion des activités de recherche en centralisant les informations et données relatives au centre sur une plateforme unique, tout en améliorant la communication et la collaboration entre les différents départements et employés.                    </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-2 mx-auto footer_col">
                <div class="footer_link_box">
                    <h4>
                        Links
                    </h4>
                    <div class="footer_links">
                        <a class="active" href="index.html">
                            Home
                        </a>
                        <a class="" href="http://localhost:4200/#/department">
                            Departments
                        </a>
                        <a class="" href="http://localhost:4200/#/projet_recherche">
                            Projet De Recherches
                        </a>
                        <a class="" href="http://localhost:4200/#/dashboard">
                            Tableau de board
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-info">
            <p>
                &copy; <span id="displayYear"></span>Projet Fin D'année 2022/2023 Génie Informatique ENSIT
            </p>
        </div>
    </div>
</footer>
<!-- footer section -->

<!-- jQery -->
<script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
<!-- popper js -->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
</script>
<!-- bootstrap js -->
<script type="text/javascript" src="js/bootstrap.js"></script>
<!-- owl slider -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
</script>
<!-- custom js -->
<script type="text/javascript" src="js/custom.js"></script>
<!-- Google Map -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap">
</script>
<!-- End Google Map -->
