
<div class=" content">
  <div class=" row">
    <div class=" col-md-12">
      <div class=" card card-plain">
        <div class="row card-header">
        <div class="col">
          <h4 class=" card-title">Gestion des Employées</h4>
          <p class=" category">Listes Des Employées</p>
        </div>
          <div class="col-5 text-center">
            <h5>Rechercher :</h5>
            <input class="form-control form-rounded" type="text">
          </div>
          <div class="col-2">
            <button class="btn btn-grey m-3 mt-4 text-dark" (click)="ajouter()">Ajouter</button>
          </div>
      </div>
        <div class=" card-body">
          <div class=" table-responsive">
            <table class=" table tablesorter" id="">
              <thead class=" text-primary">
              <tr>
                <th class=" text-center">Numéro Employer</th>
                <th class=" text-center">Nom Employer </th>
                <th class=" text-center">Fonction Employer </th>
                <th class=" text-center">Poste Telephonique</th>
                <th class=" text-center">Action</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor = "let i of list">
                <td class=" text-center">{{i.numEmp}}</td>
                <td class=" text-center">{{i.nomEmp}}</td>
                <td class=" text-center">{{i.fonctionEmp}}</td>
                <td class=" text-center">{{i.posteTelephonique.numeroAppel}}</td>
                <td class=" text-center">
                  <i class="tim-icons icon-alert-circle-exc m-2"  (click)="consulter(i.numEmp)"></i>
                  <i class="tim-icons icon-pencil m-2"  (click)="modifier(i.numEmp)"></i>
                  <i class="tim-icons icon-trash-simple m-2" (click)="deleteModal(i.numEmp)"></i>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
